<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="DynamicsHost" value="DYNAMICS_HOST_HERE" />
    <add key="DynamicsUsername" value="DYNAMICS_USERNAME_HERE" />
    <add key="DynamicsPassword" value="DYNAMICS_PASSWORD_HERE" />
    <add key="GovDeliveryHost" value="HOST_URL_HERE" />
    <add key="GovDeliveryKey" value="AGENT_KEY_HERE" />
  </appSettings>
</configuration>
